<div>
  <h2 id="page-heading" data-cy="ShipmentHeading">
    <span jhiTranslate="onlinestoreApp.shipment.home.title">Shipments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="onlinestoreApp.shipment.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-shipment"
        [routerLink]="['/shipment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="onlinestoreApp.shipment.home.createLabel"> Create a new Shipment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="shipments?.length === 0">
    <span jhiTranslate="onlinestoreApp.shipment.home.notFound">No shipments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="shipments && shipments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="trackingCode">
            <span jhiTranslate="onlinestoreApp.shipment.trackingCode">Tracking Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="date">
            <span jhiTranslate="onlinestoreApp.shipment.date">Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="details">
            <span jhiTranslate="onlinestoreApp.shipment.details">Details</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="invoice.id">
            <span jhiTranslate="onlinestoreApp.shipment.invoice">Invoice</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let shipment of shipments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/shipment', shipment.id, 'view']">{{ shipment.id }}</a>
          </td>
          <td>{{ shipment.trackingCode }}</td>
          <td>{{ shipment.date | formatMediumDatetime }}</td>
          <td>{{ shipment.details }}</td>
          <td>
            <div *ngIf="shipment.invoice">
              <a [routerLink]="['/invoice', shipment.invoice?.id, 'view']">{{ shipment.invoice?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/shipment', shipment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/shipment', shipment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(shipment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="shipments && shipments.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
